<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>ADi达斯网上商城</title>

<!-- 公共样式 开始 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript"
	th:src="@{../js/JQuery-3.4.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{../layui-1/css/layui.css}" />
<script type="text/javascript" th:src="@{../layui-1/layui.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{../framework/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{../framework/jquery.mousewheel.min.js}"></script>
<script th:src="@{../framework/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{../framework/cframe.js}"></script>
<!-- 仅供所有子页面使用 -->
<!-- 公共样式 结束 -->
<script th:src="@{../js/ItemOneJS.js}"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="see">查看</a>	
</script>
<script type="text/javascript">
layui.use('layer', function(){
 var layer = layui.layer;
});              
</script>


</head>
<body>

	
   
	<table id="test" lay-filter="test"></table>
	 <script type="text/javascript">
	 layui.use('table', function() {
			var table = layui.table;
			table.render({
				elem : '#test',
				url : '/orders/getDetailsByOid',
				toolbar : false,
				title : '用户数据表',
				totalRow : false,
				cols : [ [ 
				{
					field : 'odid',
					title : '详情编号',
				}, {
					field : 'title',
					title : '商品名称',
				}
				, {
					field : 'price',
					title : '商品单价',
				}
				, {
					field : 'count',
					title : '购买数量',
				}
				
				]],
				page : true,
				response : {
					statusCode : 200
				//重新规定成功的状态码为 200，table 组件默认为 0
				},
				parseData : function(res) { //将原始数据解析成 table 组件所规定的数据
					return {
						"code" : res.status, //解析接口状态
						"msg" : res.message, //解析提示文本
						"count" : res.total, //解析数据长度
						"data" : res.data
					//解析数据列表
					};
				}
			});
			
			
		});
	 </script>
</body>


</html>