<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADi达斯网上商城</title>
<!-- 公共样式 开始 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" th:src="@{../js/JQuery-3.4.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{../layui-1/css/layui.css}" />
<script type="text/javascript" th:src="@{../js/JQuery-3.4.js}"></script>

<script type="text/javascript" th:src="@{../layui-1/layui.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{../framework/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{../framework/jquery.mousewheel.min.js}"></script>
<script th:src="@{../framework/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{../framework/cframe.js}"></script>
<!-- 公共样式 结束 -->
<script th:src="@{../js/ItemOneJS.js}"></script>
<script th:src="@{../js/admin_list.js}"></script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">冻结</a>	
</script>
</head>
<body>
	<div class="layui-input-inline">
		<button type="button" class="layui-btn" onclick="addAdminPre()">增加</button>
	</div>
	<table id="test" lay-filter="test"></table>

	<div class="layui-form layui-form-pane" style="display: none" id="adminadd">
		<div class="layui-form-item">
			<label class="layui-form-label">管理员名称</label>
			<div class="layui-input-inline">
				<input type="text" name="name" lay-verify="required" id="name"
					placeholder="请输入管理员名称" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">管理员密码</label>
			<div class="layui-input-inline">
				<input type="password" name="password" id="password" lay-verify="password"
					placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">选择角色</label>
				<div class="layui-input-inline">
					<select name="rname" id="rname">
						<option value="超级管理员">超级管理员</option>
						<option value="普通管理员">普通管理员</option>
					</select>
				</div>
			</div>
          </div>
          <div class="layui-form-item">
			<div class="layui-input-inline">
			    <label class="layui-form-label"></label>
				<button onclick="addAdminPlus()" class="layui-btn layui-btn-warm">提交</button>
			</div>
		</div>
	</div><!-- 隐藏的表单 -->
</body>

<script type="text/javascript">
layui.use('table', function() {
	var table = layui.table;
	table.render({
		elem : '#test',
		url : '/Admin/listAllAdmin',
		toolbar : false,
		title : '用户数据表',
		totalRow : false,
		cols : [ [ 
		 {
		   type:'checkbox'
		 }
		,{
			field : 'aid',
			title : 'ID',
		}, {
			field : 'name',
			title : '用户名',
		}
		, {
			field : 'rname',
			title : '角色',
		}
		, {
			field : 'regdate',
			title : '注册日期',
		}
		, 
		{
			fixed : 'right',
			title : '操作',
			toolbar : '#barDemo'
		}
		]],
		page : true,
		response : {
			statusCode : 200
		//重新规定成功的状态码为 200，table 组件默认为 0
		},
		parseData : function(res) { //将原始数据解析成 table 组件所规定的数据
			return {
				"code" : res.status, //解析接口状态
				"msg" : res.message, //解析提示文本
				"count" : res.total, //解析数据长度
				"data" : res.data
			//解析数据列表
			};
		}
	});
	table.on('tool(test)', function(obj) {
		if (obj.event == "edit") {
			var data = obj.data; //
			/*  */
			  $.ajax({
				type : "post",
				url : "/Admin/findAdminByMid",
				data : {
					aid : data.aid
				},
				dataType : "json",
				success : function(data) {
					layer.open({//弹出层
						  type: 2, 
						  title: '用户信息',
						  content: data.msg ,
						  area: ['80%', '80%']
					}); 
				}
			})   
		} //if结束 
		if(obj.event == "del"){
		var data = obj.data; //
		layer.confirm('确定进行该操作么？', function(index){
			$.ajax({
				type : "post",
				url : "/Admin/changeAdminStatusToBan",
				data : {
					mid : data.mid
				},
				dataType : "json",
				success : function(data) {
					 if(data.msg=="对不起,您没有权限"){
						 layer.msg(data.msg, {
						        time: 1000
						      });
							 layer.close(index);
					 }else{
						 layer.msg(data.msg, {
						        time: 1000
						      });
							 layer.close(index); 
							 setTimeout(function(){window.location.href=data.url;},1000);
					 }
			   }
			}) //ajax结束
	     });
		}//删除结束
	})
});
</script>


</html>