<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>商品增加测试</title>
<link rel="stylesheet" type="text/css" th:href="@{../../css/base.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{../../css/iconfont.css}" />
<script type="text/javascript"
	th:src="@{../../framework/jquery-1.11.3.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{../../layui/css/layui.css}" />
<script type="text/javascript" th:src="@{../../layui/layui.js}"></script>
<!-- 滚动条插件 -->
<link rel="stylesheet" type="text/css"
	th:href="@{../../css/jquery.mCustomScrollbar.css}" />
<script th:src="@{../../framework/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{../../framework/jquery.mousewheel.min.js}"></script>
<script th:src="@{../../framework/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{../../framework/cframe.js}"></script>
</head>
<body>
	<form class="layui-form"  enctype="multipart/form-data" action="/Goods/addGoods" method="post"	>
		<div class="layui-form-item">
			<label class="layui-form-label">商品名称</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="required" id="title"
					placeholder="请输入商品名称" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品价格</label>
			<div class="layui-input-block">
				<input type="text" name="price" lay-verify="number" id="price"
					placeholder="请输入商品价格" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品库存</label>
			<div class="layui-input-block">
				<input type="text" name="t_number" lay-verify="number" id="count"
					placeholder="请输入商品库存" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">商品介绍</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入商品介绍" class="layui-textarea" name="note"
					id="note" lay-verify="required"></textarea>
			</div>
		</div>
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">是否上架</label>
			<div class="layui-input-block">
				<input type="radio" name="t_status" value="0" title="上架" checked="">
				<input type="radio" name="t_status" value="1" title="下架">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品分类</label>
			<div class="layui-input-inline">
				<select name="ioid"  lay-filter="ioid">
					<option value="">请选择一级分类</option>
					<option th:each="itemone,itemoneStat:${session.allItemone}" th:value="${itemone.title}"  th:text="${itemone.title}"></option>
				</select>
			</div>
			<div class="layui-input-inline">
				<select name="itid" lay-filter="itid" id="itid">
					<option value="男子上衣">男子上衣</option>
					<option value="男子下装">男子下装</option>
					<option value="男子鞋类">男子鞋类</option>
					<option value="男子附配件类">男子附配件类</option>
					<option value="女子上衣">女子上衣</option>
					<option value="女子下装">女子下装</option>
					<option value="女子鞋类">女子鞋类</option>
					<option value="女子附配件类">女子附配件类</option>
					<option value="男大童">男大童</option>
					<option value="男小童">男小童</option>
					<option value="女大童">女大童</option>
					<option value="女小童">女小童</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">商品图片</label>
				<input type="file" name="photopath"  />
				<input type="file" name="photopath"  />
				<input type="file" name="photopath"  />
				<input type="file" name="photopath"  />
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<input type="submit" class="layui-btn" value="立即提交">
			</div>
		</div>
	</form>
</body>
<script type="text/javascript">
layui.use(['form', 'layedit'], function(){
	  var form = layui.form;
 })
</script>

</html>
