<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrw.mapper.QuestionMapper">
	<insert id="createQuestion" parameterType="com.lrw.vo.Question">
	   insert into question (title,content,answer,type,about,publisher,masteryLevel,difficultyLevel,optionA,optionB,optionC,optionD,analysis,questiontype,birthday,qbid) 
	   values
	   (#{title},#{content},#{answer},#{type},#{about},#{publisher},#{masteryLevel},#{difficultyLevel},#{optionA},#{optionB},#{optionC},#{optionD},#{analysis},#{questiontype},#{birthday},#{qbid})
	</insert>
	
	<select id="queryQuestionByKeyword" parameterType="com.lrw.util.QueryVo" resultType="com.lrw.vo.Question">
	  select * from Question where publisher=#{publisher} 
	  <if test="keyword!=null and keyword!='' ">
         and title like '%${keyword}%' or content  like '%${keyword}%' or publisher or about like '%${keyword}%'
        </if>
	</select>
	
	<select id="queryQuestionByType" parameterType="com.lrw.util.QueryVo" resultType="com.lrw.vo.Question">
	   select * from Question where  publisher=#{publisher}  
	   <if test="type!=null">
	    and type=#{type} 
	   </if>
	   <if test="qbid!=null">
	     and qbid=#{qbid}
	   </if>
	  
	</select>
	
	<select id="findQuestionByQid" parameterType="int" resultType="com.lrw.vo.Question">
	   select * from Question where qid=#{qid}
	</select>
	
	<update id="updateQuestion" parameterType="com.lrw.vo.Question">
	   update question set title=#{title},content=#{content},answer=#{answer},type=#{type},about=#{about},difficultyLevel=#{difficultyLevel}
	   ,analysis=#{analysis},optionA=#{optionA},optionB=#{optionB},optionC=#{optionC},optionD=#{optionD},qbid=#{qbid},questiontype=#{questiontype}
	   where qid=#{qid}
	</update>
	
	<select id="selectQuestionByQids" parameterType="list" resultType="com.lrw.vo.Question">
	  select * from Question where qid in 
	   <foreach item="item" index="index" collection="Array" open="(" separator="," close=")">  
　　　　#{index}  
　　     </foreach>
	</select>
	
	
	
	<insert id="insertQuestionList" parameterType="list">
	    insert into question (title,content,answer,type,publisher,optionA,optionB,optionC,optionD,analysis,questiontype)
	    values
	    <foreach item="item" index="index" collection="questionList" separator=",">
	      (
	       #{item.title},
	       #{item.content},
	       #{item.answer},
	       #{item.type},
	       #{item.publisher},
	       #{item.optionA},
	       #{item.optionB},
	       #{item.optionC},
	       #{item.optionD},
	       #{item.analysis},
	       #{item.questiontype}
	      )
	    </foreach>
	</insert>
	
	<select id="findAllQuestionByType" parameterType="int" resultType="com.lrw.vo.Question">
	      select * from question where type =#{type} 
	</select>
	
	
	<select id="selectBatchQuestionByTypeAndTpid"  resultType="com.lrw.vo.Question">
	     select tp_qt.qid ,title,optionA,optionB,optionC,optionD,score,question.type, question.answer,question.questiontype  FROM tp_qt ,question WHERE tp_qt.qid = question.qid and tp_qt.tpid=#{tpid} 
	     and tp_qt.type=#{type}
	</select>
	

</mapper>  