<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrw.mapper.TestPageMapper">
	
	<insert id="addRandTestPage" parameterType="com.lrw.vo.TestPage">
	 insert into testpage (tpid,topic,createuser,createtime,createtype) values (#{tpid},#{topic},#{createuser},#{createtime},#{createtype})
	</insert>
    
    <select id="queryAllTestPageByUserName" parameterType="com.lrw.util.QueryVo" resultType="com.lrw.vo.TestPage">
       select * from testpage where createuser=#{publisher}
    </select>
    
   <insert id="addRealRandTestPage" parameterType="list">
	    insert into tp_qt (tpid,qid,type,score,createtime)
	    values
	    <foreach item="item" index="index" collection="list" separator=",">
	      (
	       #{item.tpid},
	       #{item.tid},
	       #{item.type},
	       #{item.score},
	       #{item.createtime}
	      )
	    </foreach>
	</insert>
    
    <select id="isRepeatTopicName" resultType="com.lrw.vo.TestPage">
      select * from testpage where topic=#{topic} and createuser=#{username}
    </select>
    
    <select id="findTestPaperByTpid" parameterType="string" resultType="com.lrw.vo.TestPage">
       select * from testpage where tpid = #{tpid}
    </select>
    
    <select id="findQidByTpid" parameterType="string" resultType="int">
       select * from tp_qt where tpid =#{tpid}
    </select>
    
    <select id="findTypeLenBytpid" parameterType="string" resultType="int">
     select count(*) FROM ( select count(*) FROM tp_qt where tpid=#{tpid}  GROUP BY type ) as type 
    </select>
    
    <select id="findTypeListByTpid" resultType="int" parameterType="string">
       SELECT DISTINCT type FROM tp_qt where tpid=#{tpid}
    </select>
    
    <delete id="deleteTestPaperByTpid" parameterType="string">
      delete from testpage where tpid =#{tpid}
    </delete>
</mapper>  