<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>ADi达斯网上商城</title>

<!-- 公共样式 开始 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" th:src="@{../../js/JQuery-3.4.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{../../layui-1/css/layui.css}" />
<script type="text/javascript" th:src="@{../../layui-1/layui.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{../../framework/jquery-ui-1.10.4.min.js}"></script>
<script th:src="@{../../framework/jquery.mousewheel.min.js}"></script>
<script th:src="@{../../framework/jquery.mCustomScrollbar.min.js}"></script>
<script th:src="@{../../framework/cframe.js}"></script>
<!-- 仅供所有子页面使用 -->
<!-- 公共样式 结束 -->
<script th:src="@{../../js/Itemone.js}"></script>
<script type="text/html" id="barDemo"></script>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form;
})
</script>
</head>
<body>
   <form class="layui-form layui-form-pane" action="/Itemtwo/addItemtwo">
    <div class="layui-inline">
      <label class="layui-form-label">一级分类</label>
      <div class="layui-input-inline">
    
        <select id="keyword" name="ioid" lay-verify="required" lay-search="" >
          <option  th:each="e:${session.allItemone}"  th:value="${e.ioid}" th:text="${e.title}"></option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">标题名称</label>
    <div class="layui-input-inline">
      <input type="text" name="title" lay-verify="required" placeholder="请输入标题名称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</body>
<script type="text/javascript">
var index = parent.layer.getFrameIndex(window.name);
	//获取iframe父页面索引
    $('form').submit(function() {
    	$.ajax({
            type:"post",
            data:$(this).serialize(),
            success:function(data){
               
                parent.location.reload(); //刷新父页面
		        parent.layer.close(index);  //关闭当前页面，写在最后面
            },
            error:function(data){
            	
                parent.location.reload();
		        parent.layer.close(index);
            }
       });   
	});
</script>
</html>