<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{css/goods.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/alert.css}" />
<script type="text/javascript" th:src="@{js/JQuery-3.4.js}"></script>
<script type="text/javascript" th:src="@{js/goods.js}"></script>
<script type="text/javascript" th:src="@{layui/layui.js}"></script>
<script type="text/javascript">
	layui.use('layer', function() {
		var layer = layui.layer;
	});
</script>
<title>阿迪达斯网上商城</title>
</head>
<body>
	<div id="all">
		<div id="up">
			<div id="uptext">
				<a href="main.html"><img src="img/adidas.png" /></a>
				<ul class="title">
					<li><a href="#">男子</a></li>
					<li><a href="#">女子</a></li>
					<li><a href="#">儿童 &nbsp;|</a></li>
					<li><a href="#">运动</a></li>
					<li><a href="#">品牌</a></li>
				</ul>
				<ul class="tips" id="showname">
					<li><a href="#">订单追踪</a></li>
					<li><a href="#">帮助中心</a></li>
					<li><a href="/toShopCar">我的购物袋</a></li>
					<li><a href="#">在线客服</a></li>
				</ul>
				<p id="search">
					<img src="img/search.png" /><input type="text" id="searchinput"
						placeholder="抢YEEZY" />
				</p>
			</div>
			<div id="hid"></div>
		</div>
		<div id="center">
			<div id="left">
				<img th:src="${session.frontgoods.photo}" id="allimg" />
				<div class="img1">
					<img th:src="${session.frontgoods.photo}" />
				</div>
				<div class="img1">
					<img th:src="${session.frontgoods.photo1}" />
				</div>
				<div class="img1">
					<img th:src="${session.frontgoods.photo2}" />
				</div>
				<div class="img1">
					<img th:src="${session.frontgoods.photo3}" />
				</div>
			</div>
			<div id="right">
				<input type="hidden" id="gid" th:value="${session.frontgoods.gid}" />
				<p id="title" th:text="${session.frontgoods.title}"></p>
				<p id="ping">
					<img src="img/评价.png" />
				</p>
				<p id="point">此商品为指定活动商品。6.7-6.18，购指定活动商品满2件及以上可享额外9折优惠。</p>
				<p id="price" th:text="${session.frontgoods.price}">￥</p>
				<p>
					<input type="hidden" th:value=${session.frontgoods.t_number}
						id="count" />
				</p>
				<p>
					尺码选择:&nbsp;&nbsp;&nbsp;&nbsp; <select name="size" id="size">
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
					</select>




				</p>
				<div id="color">
					<p id="colchose">颜色选择：</p>
					<div class="col">黑</div>
					<div class="col">白</div>
					<div class="col">灰</div>
				</div>
				<p id="numchose">
					数量选择:&nbsp;&nbsp;&nbsp;&nbsp;
					<button id="min">-</button>
					&nbsp;&nbsp;<span id="num">1</span>&nbsp;&nbsp;
					<button id="max">+</button>
				</p>
				<p id="img">
					<a href="#"><img src="img/客服.png" /></a>
				</p>

				<button id="buy">立即购买</button>
				<button id="add">加入购物袋</button>

			</div>
			<div id="bigimg">
				<h2>穿着效果：</h2>
				<img th:src="${session.frontgoods.photo}" /> <img
					th:src="${session.frontgoods.photo1 }" /> <img
					th:src="${session.frontgoods.photo2 }" /> <img
					th:src="${session.frontgoods.photo3 }" />
			</div>
		</div>
		<div id="buttom">
			<div id="btop">
				<a href="#"><img src="img/but.png" /></a>
			</div>
			<div id="bbut">
				<table border="0px" cellspacing="0" cellpadding="0" id="tab">
					<tr>
						<th>产品</th>
						<th>运动</th>
						<th>帮助中心</th>
						<th>网站政策</th>
					</tr>
					<tr>
						<td><a href="#">鞋类</a></td>
						<td><a href="#">跑步</a></td>
						<td><a href="#">关于员工</a></td>
						<td><a href="#">使用条款</a></td>
					</tr>
					<tr>
						<td><a href="#">配件</a></td>
						<td><a href="#">训练</a></td>
						<td><a href="#">尺码表</a></td>
						<td><a href="#">隐私声明</a></td>
					</tr>
					<tr>
						<td><a href="#">最新上市</a></td>
						<td><a href="#">足球</a></td>
						<td><a href="#">adiCLUB会员</a></td>
						<td><a href="#">物流配送规则</a></td>
					</tr>
					<tr>
						<td><a href="#">新品发售日历</a></td>
						<td><a href="#">篮球</a></td>
						<td><a href="#">门店查询</a></td>
						<td><a href="#">退换货规则</a></td>
					</tr>
					<tr>
						<td><a href="#">限量发售</a></td>
						<td><a href="#">户外</a></td>
						<td><a href="#">关于我们</a></td>
						<td><a href="#">下单指南</a></td>
					</tr>
				</table>
				<div id="butt">
					<a href="#"><img src="img/bbb.png" /></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var t = $("#num").text();
		t = parseInt(t);
		$("#max").click(function() {
			var count = $("#count").val();
			if (t >= count) {
				alert("库存只有这些啦,先买这些吧");
			} else {
				t = t + 1;
			}
			$("#num").text(t);
			$('#min').removeAttr("disabled");
		});
		$("#min").click(function() {
			if (t == 1) {
				$('#min').attr("disabled", true);
				return;
			}
			t = t - 1;
			$("#num").text(t);
		});
	</script>
	<!-- 点击加入购物袋的效果 -->
	<script type="text/javascript">
		$("#add").click(function() {
			var t = $("#num").text();
			t = parseInt(t);
			var gid = $("#gid").val();
			$.ajax({
				type : "post",
				url : "/Shopcar/insert",
				data : {
					gid : gid,
					count : t
				},
				dataType : "json",
				success : function(data) {
					if(data.url!=null){
						layer.msg("您还没有登录，请先登录", {
							time : 1500
						});
						setTimeout(function(){window.location.href=data.url;},1000);
					}else{
						layer.msg(data.msg, {
							time : 2500
						});
					}
				}//success结束
			}) //ajax结束 

		});
	</script>
<script type="text/javascript">
$.ajax({
	url:"/showusername",
	type:"post",
	data:{},
	dataType: "text",
	success:function(res){
		if(res=="登录"){
			$("#showname").append("<li><a href='/ToLogin'>登录</a></li>");
		}else{
			$("#showname").append("<li><a href='#'>"+'用户: '+res+"</a></li>");
		}
		
	}
});

</script>
</body>
</html>
