<!DOCTYPE HTML/>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<title>ADi达斯网上商城</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
		<link rel="bookmark" th:href="@{images/favicon.ico}"/>
		<link rel="stylesheet" type="text/css" th:href="@{css/base.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{css/iconfont.css}"/>
		<script type="text/javascript" th:src="@{framework/jquery-1.11.3.min.js}" ></script>
		<link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}"/>
		<script type="text/javascript" th:src="@{layui/layui.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{css/jquery.mCustomScrollbar.css}">
		<script th:src="@{framework/jquery-ui-1.10.4.min.js}"></script>
		<script th:src="@{framework/jquery.mousewheel.min.js}"></script>
		<script th:src="@{framework/jquery.mCustomScrollbar.min.js}"></script>
		<script th:src="@{framework/cframe.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{css/frameStyle.css}"/>
		<script type="text/javascript" th:src="@{framework/frame.js}" ></script>
		<script type="text/javascript" th:src="@{js/Manger.js}" ></script>
	</head>
	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="images/logo.png"/>
		        <div class="logoText">
		            <h1>ADi达斯网上商城</h1>
		            <p>adidasishop</p>
		        </div>
		    </div>
		    <div class="menu">
		        <ul>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('tgls/qdAPI.jsp',this)"><i class="iconfont icon-zhishi left"></i>后台首页</a>
		            </li>
		        	<!-- <li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('tgls/iconfont.html',this)"><i class="iconfont icon-huojian left"></i>iconfont字体库</a>
		           	</li> -->
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>类别管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toItemone',this)">一级类别</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toItemtwo',this)">二级类别</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>商品管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toBackGoodsList',this)">上架商品列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/to_ban_goods_list',this)">下架商品列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toAddGoods',this)">添加商品</a></dt>
		                   
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>用户管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toMemberList',this)">正常用户列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toBanMemberList',this)">冻结用户列表</a></dt>
		                </dl>
		            </li>
		            <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>订单管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toSendOrderList',this)">未发货订单列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toRoadOrderList',this)">已发货订单列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toEndOrderList',this)">已完成订单列表</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toNoOrderList',this)">已拒绝订单列表</a></dt>
		                </dl>
		            </li>
		            
                                                                     
                    <shiro:hasRole name = "superadmin">
		            <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>管理员管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/toAdminList',this)">管理员列表</a></dt>
		                </dl>
		            </li>
		        	</shiro:hasRole>
		        	
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<img class="jt" src="images/top_jt.png"/>
				<div class="topMenu">
					<ul>
						<li><a href="/adminlogout"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>ADi商城后台首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="tgls/qdAPI.html" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>
<script type="text/javascript">
function findItemone(){
	window.location.href="/toItemone";
}
</script>

</html>